<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<style>
    body {
        margin-top: 50px;
    }
    .card-body {
        min-height: 300px;
    }
    .card {
        width: 1000px;
        height: 500px;
    }
    .btn-outline-primary {
        display: inline;
        justify-content: center;
        align-items: center;
    }
</style>
</head>

<body>
<div class="container">
<br>


<div class="row justify-content-center">
<div class="col-md-20">
<div class="card">
<header class="card-header">
	<a href="{% url 'logout' %}" class="float-right btn btn-outline-primary mt-1">Log out</a>
	<h4 class="card-title mt-2">Selamat datang, {{ user.username }}</h4>
</header>
<article class="card-body">
    <h5>Tipe Ruangan: {{ user.username }} <a href="{% url 'logout' %}" class="btn btn-outline-primary mt-1">Ganti</a></h5>
    <br>
    <h5>Patient Admission: <a href="{% url 'admission' %}" class="btn btn-outline-primary mt-1">Admission</a></h5>
    <br>
    <h5>Patient Transfer: <a href="{% url 'logout' %}" class="btn btn-outline-primary mt-1">Transfer</a></h5>
    <br>
    <p>Selamat datang di website kami. Silahkan kunjungi <a href="https://santrikoding.com" target="_blank">santrikoding.com</a> yang bersahabat.</p>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>			
                <th>ID</th>
                <th>Nama</th>
                <th>Tanggal Lahir</th>
                <th>Alamat</th>
                <th>Ranjang</th>
            </tr>
        </thead>
        <tbody>
            {% for pasien in data %}
            <tr>				
                <td>{{pasien.id}}</td>
                <td>{{pasien.nama}}</td>
                <td>{{pasien.tgl_lahir}}</td>
                <td>{{pasien.alamat}}</td>
                <td>{{pasien.bed}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->
</div> <!-- row.//-->

</div> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!--container end.//-->
</body>
</html>